html, body {
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  background: white;
  margin: 0 1em;
  font-size: 0.9rem;
}

.logo {
  font-size: 4.5rem;
  font-family: Times, Times New Roman, serif;
  font-variant: small-caps;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

main {
  padding: 10px 10px 0 10px;
  border: 1px solid #DDDDDD;
  border-top: none;
}

#index main {
  padding: 0;
  border: none;
}

