{% extends 'common/_root.html.j2' %}

{% block head %}
  <title>Old Tacoma Marine</title>
{% endblock %}

{% block body %}
<div id="index">
  <div class="logo">OLD TACOMA MARINE</div>
  <div class="phone">(206) 898-7012</div>
  <div class="makes">
    <a href="/engines/atlas.html"><img src="/images/atlas_imperial_logo.png" alt="Atlas Imperial"/></a>
    <a href="/engines/enterprise.html"><img src="/images/enterprise_logo.png" alt="Enterprise"/></a>
    <a href="/engines/fairbanks.html"><img src="/images/fairbanks_morse_logo.png" alt="Fairbanks Morse"/></a>
    <a href="/engines/washington.html"><img src="/images/wiw_logo.png" alt="Washington Iron Works"/></a>
  </div>
</div>
{% endblock %}

