{% extends 'common/_root.html.j2' %}

{% block head %}
  <title>Old Tacoma Marine</title>
  <link rel="stylesheet" media="all" type="text/css" href="/css/index.css">
{% endblock %}

{% block body %}
  <div class="logo">OLD TACOMA MARINE</div>
  <div class="phone">(206) 898-7012</div>
  <div class="makes">
    <a href="/atlas.html"><img src="/images/atlas_imperial_logo.png" alt="Atlas Imperial"/></a>
    <a href="/enterprise.html"><img src="/images/enterprise_logo.png" alt="Enterprise"/></a>
    <a href="/fairbanks.html"><img src="/images/fairbanks_morse_logo.png" alt="Fairbanks Morse"/></a>
    <a href="/washington.html"><img src="/images/wiw_logo.png" alt="Washington Iron Works"/></a>
  </div>
{% endblock %}
