{% extends 'common/_root.html.j2' %}

{% block head %}
  <title>Washington Iron Works - Old Tacoma Marine</title>

  <link rel="stylesheet" media="all" type="text/css" href="/css/engine.css">
	<script type="text/javascript" src="/js/tablesort.js"></script>
{% endblock %}

{% block body %}
<div class="specsBg">
	<div class="branding"><a href="../index.shtml">Old Tacoma Marine, Inc.</a></div>
	<div class="specsContent">
		<h1>Washington Iron Works</h1>
		<h3>Known Remaining engines</h3>
		<br>
		<p>Click on the grey headings to sort table by column.<br>
		Names <s>struck out</s> designate an engine's original provenance prior to removal for display.</p>

<table id="washington" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-4-5-6-2r rowstyle-alt colstyle-alt no-arrow">
	<tr>
		<th class="sortable">Model</th>
		<th class="sortable">Serial</th>
		<th class="sortable">Engine</th>
		<th class="sortable-numeric">Bore</th>
		<th class="sortable-numeric">Stroke</th>
		<th class="sortable-numeric">Cyl's</th>
		<th class="sortable-numeric">HP</th>
		<th class="sortable-numeric">RPM</th>
		<th class="sortable">Owner</th>
		<th class="sortable">Type</th>
		<th class="sortable">Currently</th>
		<th class="sortable">State</th>

	</tr>   
   <tr>
		<td>6-10</td>
		<td>7342</td>
		<td><a href="catalyst.html"><i>Catalyst</i></a></td>
		<td>8</td>
		<td>10</td>
		<td>6</td>     
		<td>120</td>    
		<td>450</td>    
		<td>Pacific Catalyst II Inc</td>
		<td>research vessel</td>
		<td>charter</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=48.54383,-123.023787&spn=0.026196,0.077248&t=h&z=14">Washington</a></td>

    </tr>
   <tr>
		<td>3-115</td>
		<td>7372</td>
		<td><a href="newzora.html"><i><s>New Zora</s></i></a></td>
		<td>9</td>
		<td>11.5</td>
		<td>3</td>     
		<td>80</td>    
		<td>360</td>    
		<td>unknown</td>
		<td>fishboat</td>
		<td>derelict</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=48.783286,-122.512493&spn=0.03201,0.077162&t=h&z=14">Washington</a></td>
    </tr>
	<tr>
		<td>2-125</td>
		<td></td>     
		<td><a href="wakefield.html">Wakefield Cannery</a></td>
		<td>9</td>
		<td>12-1/2</td>
		<td>2</td>     
		<td>60</td>    
		<td>400</td>    
		<td>unknown</td>
		<td>marine</td>
		<td>derelict</td>
		<td><a href="http://maps.google.com/maps/ms?hl=en&ie=UTF8&hq=&hnear=Port+Wakefield,+AK&gl=us&ei=Zxi5SvvJDMSvtgfiu935Dg&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=58.054723,-153.04985&spn=0.025704,0.077162&t=h&z=14">Alaska</a></td>
	</tr>
	<tr>
		<td>3-125</td>
		<td>7153</td>     
		<td><a href="kmm.html"><s>Uganik Cannery</s></a></td>
		<td>9</td>
		<td>12-1/2</td>
		<td>3</td>     
		<td>90</td>    
		<td>400</td>    
		<td>Kodiak Maritime Historical Society</td>
		<td>generator</td>
		<td>museum display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=57.795245,-152.409897&spn=0.021088,0.077248&t=h&z=14">Alaska</a></td>
	</tr>
	<tr>
		<td>4-125</td>
		<td>7274</td>     
		<td><a href="waterfall.html">Waterfall #4</a>  </td>
		<td>9</td>
		<td>12-1/2</td>
		<td>4</td>     
		<td>120</td>    
		<td>400</td>    
		<td>Waterfall Resort</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=55.299203,-133.245964&spn=0.022526,0.077248&t=h&z=14">Alaska</a></td>
	</tr>
	<tr>
		<td>6-125</td>
		<td>&nbsp;</td>
		<td><a href="psatma.html"><s>Weyrhauser #4</s></a>  </td>
		<td>9</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>180</td>    
		<td>400</td>    
		<td>PSATMA</td>
		<td>generator</td>
		<td>museum display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=48.96816,-122.517128&spn=0.025975,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>6-125</td>
		<td>7167</td>     
		<td><a href="simpsonyarder.html">Simpson Yarder</a></td>
		<td>9</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>180</td>    
		<td>400</td>    
		<td>Roots Of Motive Power</td>
		<td>logging yarder</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=39.419817,-123.356552&spn=0.030567,0.077248&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>6-125</td>
		<td>7254</td>     
		<td><a href="westforkyarder.html">West Fork Yarder</a></td>
		<td>9</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>180</td>    
		<td>400</td>    
		<td>Timber Heritage Association</td>
		<td>logging yarder</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=40.783921,-124.20722&spn=0.036784,0.077162&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>6-125</td>
		<td>7524</td>     
		<td><a href="nwmp.html">new WIW</a></td>
		<td>9</td>
		<td>12-1/2</td>
		<td>6</td>
		<td>180</td>
		<td>400</td>
		<td>Northwest Marine Propulsion Museum</td>
		<td>propulsion</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=47.657352,-122.374735&spn=0.026651,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>3-13</td>
		<td>7202</td>     
		<td><a href="davidb.html"><i>David B</i></a>  </td>
		<td>10-1/4</td>
		<td>13-1/2</td>
		<td>3</td>     
		<td>120</td>    
		<td>360</td>    
		<td>Northwest Navigation Co</td>
		<td>cannery tender</td>
		<td>charter</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=48.757943,-122.513008&spn=0.026085,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>6-15</td>
		<td>7594</td>     
		<td><a href="rubyxiv.html"><i>Ruby XIV</i></a>  </td>
		<td>11-1/2</td>
		<td>15</td>
		<td>6</td>     
		<td>300</td>    
		<td>327</td>    
		<td>Northwest Marine Propulsion Museum</td>
		<td>tugboat</td>
		<td>museum vessel</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=47.655791,-122.366152&spn=0.026652,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>4-13</td>
		<td>7426</td>     
		<td><a href="fearless.html"><i>Fearless</i></a>  </td>
		<td>10-1/4</td>
		<td>13-1/2</td>
		<td>4</td>     
		<td>160</td>    
		<td>360</td>    
		<td>Western Towboat</td>
		<td>tugboat</td>
		<td>towing</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=47.658971,-122.366152&spn=0.026651,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>4-125</td>
		<td>&nbsp;</td>     
		<td><a href="sanjuan.html"><i>San Juan</i></a></td>
		<td>10</td>
		<td>12-1/2</td>
		<td>4</td>     
		<td>135</td>    
		<td>360</td>    
		<td>Bruce Abernathy &amp; Rex Gresham</td>
		<td>cannery tender</td>
		<td>fishboat &amp; yacht</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=39.429961,-123.803215&spn=0.030562,0.077248&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>6-13</td>
		<td>7520</td>
		<td><a href="katahdin.html"><i>Katahdin</i></a></td>
		<td>10-1/4</td>
		<td>13-1/2</td>
		<td>6</td>     
		<td>240</td>
		<td>360</td>    
		<td>Doug Leen</td>
		<td>tugboat</td>
		<td>yacht</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=56.812485,-132.962036&spn=0.021659,0.077248&t=h&z=14">Alaska</a></td>
	</tr>
	<tr>
		<td>4-160</td>
		<td>7162</td>     
		<td><a href="waimea.html"><s>Waimea Electric Co</s></a>  </td>
		<td>10-3/4</td>
		<td>16</td>
		<td>4</td>     
		<td>150</td>    
		<td>280</td>    
		<td>Waimea Sugar Mill Camp</td>
		<td>generator</td>
		<td>museum display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=21.965893,-159.680357&spn=0.036696,0.077248&t=h&z=14">Hawaii</a></td>
	</tr>
	<tr>
		<td>6-160</td>
		<td>7495</td>
		<td><a href="donaldr.html"><i>Donald Robert</i></a>  </td>
		<td>12-3/4</td>
		<td>16</td>
		<td>6</td>     
		<td>465</td>    
		<td>400</td>    
		<td>Buzz Dana</td>
		<td>tugboat</td>
		<td>yacht</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=47.543917,-122.206764&spn=0.026709,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>6-24</td>
		<td>7347</td>
		<td><a href= "arthur.html"><i>Arthur Foss</i></a>  </td>
		<td>18</td>
		<td>24</td>
		<td>6</td>
		<td>700</td>
		<td>180</td>
		<td>Northwest Seaport</td>
		<td>tugboat</td>
		<td>museum vessel</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.00043ae559485192e6bdf&ll=47.635784,-122.340059&spn=0.026662,0.077248&t=h&z=14">Washington</a></td>
	</tr>
  </tbody>
  <tfoot>
  </tfoot>

</table>

	</div>
	<div class="subnav"><a href="../index.shtml">Home</a> <img src="../images/nav/arrow.gif"> <a href="index.html">Washington Iron Works Engines</a> <img src="../images/nav/arrow.gif"> Known Remaining Engines</div>

</div>
{% endblock %}

