{% extends 'engines/_engineList.html.j2' %}

{% block head %}
  <title>Fairbanks-Morse - Old Tacoma Marine</title>
{% endblock %}

{% block engine_description %}
  <h1>Fairbanks-Morse</h1>
  <h3>Known remaining Fairbanks-Morse diesel engines</h3>
  <p>
  Fairbanks-Morse model numbers are a combination of three different
  designations: design year, letter designation, and bore size. Design year is
  the year that the design was implemented ('32, '33, '37, etc). Letter
  designations include A for a flapper-type blower, E, F and Y for a crank-case
  air scavenging system, and D for a piston-type blower. For example, a 32E14
  is an engine designed in 1932 with a crank case air scavenging system and a
  14-inch bore.
  </p>
{% endblock %}

{% block engine_list %}
<tr>
  <td class="model">31A8 1/2</td>
  <td class="serial"></td>
  <td class="engine"><a href="braggadocio.html">Braggadocio Cotton Gin</a></td>
  <td class="bore">8.5</td>
  <td class="stroke">11.5</td>
  <td class="cyl">6</td>
  <td class="hp">330</td>
  <td class="rpm">525</td>
  <td class="owner">Marty</td>
  <td class="origin">line shaft drive</td>
  <td class="current">idle</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.183818,-89.843016&spn=0.055837,0.060339&t=h&z=14">Missouri</a></td>
</tr>
<tr>
  <td class="model">31A8 1/2</td>
  <td class="serial"></td>
  <td class="engine"><a href="nokomis.html"><span class="vessel">Nokomis</span></a></td>
  <td class="bore">8.5</td>
  <td class="stroke">11.5</td>
  <td class="cyl">6</td>
  <td class="hp">330</td>
  <td class="rpm">525</td>
  <td class="owner">John</td>
  <td class="origin">buoy tender</td>
  <td class="current">museum ship</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.980162,-76.341076&spn=0.037764,0.077162&t=h&z=14">Maryland</a></td>
</tr>
<tr>
  <td class="model">35F10</td>
  <td class="serial"></td>
  <td class="engine"><a href="barbarah.html"><span class="vessel">Barbara H</span></a></td>
  <td class="bore">10</td>
  <td class="stroke">12.5</td>
  <td class="cyl">4</td>
  <td class="hp">160</td>
  <td class="rpm">400</td>
  <td class="owner">Historic Sternwheeler Preservation Society</td>
  <td class="origin">sternwheeler</td>
  <td class="current">museum ship</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.703597,-85.213566&spn=0.030544,0.076733&t=h&z=14">Indiana</a></td>
</tr>
<tr>
  <td class="model">35F10</td>
  <td class="serial"></td>
  <td class="engine"><a href="josiet.html"><span class="vessel">Josie T</span></a></td>
  <td class="bore">10</td>
  <td class="stroke">12.5</td>
  <td class="cyl">6</td>
  <td class="hp">240</td>
  <td class="rpm">400</td>
  <td class="owner">Carl Selvagie</td>
  <td class="origin">tugboat</td>
  <td class="current">tugboat</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.783843,-73.678136&spn=0.050331,0.091753&z=14">New York</a></td>
</tr>
<tr>
  <td class="model">35F10</td>
  <td class="serial"></td>
  <td class="engine"><a href="skansonia1.html"><span class="vessel">Skansonia (#1)</span></a></td>
  <td class="bore">10</td>
  <td class="stroke">12.5</td>
  <td class="cyl">6</td>
  <td class="hp">240</td>
  <td class="rpm">400</td>
  <td class="owner">Skansonia Waterfront Catering</td>
  <td class="origin">ferry</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.659664,-122.33345&spn=0.026419,0.055275&t=h&z=14">Washington</a></td>
</tr>
<tr>
  <td class="model">35F10</td>
  <td class="serial"></td>
  <td class="engine"><a href="skansonia2.html"><span class="vessel">Skansonia (#2)</span></a></td>
  <td class="bore">10</td>
  <td class="stroke">12.5</td>
  <td class="cyl">6</td>
  <td class="hp">240</td>
  <td class="rpm">400</td>
  <td class="owner">Skansonia Waterfront Catering</td>
  <td class="origin">ferry</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.659664,-122.33345&spn=0.026419,0.055275&t=h&z=14">Washington</a></td>
</tr>
<tr>
  <td class="model">35F10</td>
  <td class="serial"></td>
  <td class="engine"><a href="shermanzwicker.html"><span class="vessel">Sherman Zwicker</span></a></td>
  <td class="bore">10</td>
  <td class="stroke">12.5</td>
  <td class="cyl">6</td>
  <td class="hp">240</td>
  <td class="rpm">400</td>
  <td class="owner">Grand Banks Schooner Museum</td>
  <td class="origin">auxiliary schooner</td>
  <td class="current">museum ship</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=43.895913,-69.835281&spn=0.028203,0.076733&t=h&z=14">Maine</a></td>
</tr>
<tr>
  <td class="model">33D12</td>
  <td class="serial"></td>
  <td class="engine"><a href="heritagehill.html">Heritage Hill</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Minnesota Valley Antique Farm Power &amp; Machinery Association</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.955817,-95.631394&spn=0.026117,0.055275&t=h&z=14">Minnesota</a></td>
</tr>
<tr>
  <td class="model">37E12</td>
  <td class="serial"></td>
  <td class="engine"><a href="crow.html"><span class="vessel">Kerri K</span></a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">6</td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Port Albany Ventures LLC</td>
  <td class="origin">tugboat</td>
  <td class="current">tugboat</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.618739,-73.780403&spn=0.031012,0.077248&t=h&z=14">New York</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="ruppscitrus.html">Rupp's Citrus Conveyor</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Rupp Family</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=27.224715,-98.123102&spn=0.039917,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="rockriver1.html">Rock River</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Rock River Thresheree Museum</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=pottsville,&hnear=Oregon&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.792881,-89.033203&spn=0.034074,0.077162&t=h&z=14">Wisconsin</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="lonniecaudle2.html">Lonnie's Engine (#2)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Lonnie Caudle</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.896773,-91.212101&spn=0.039845,0.077162&t=h&z=14">Arkansas</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="gene.html">Gene's engine</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">75</td>
  <td class="rpm">300</td>
  <td class="owner">Gene DeCamp</td>
  <td class="origin">unknown</td>
  <td class="current">unknown</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.740555,-112.027845&spn=0.032232,0.055275&t=h&z=14">Arizona</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="tsgeta1.html">Tri-State</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Tri-State Gas Engine &amp; Tractor Association</td>
  <td class="origin">line shaft drive</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.455373,-84.944315&spn=0.032067,0.077248&t=h&z=14">Indiana</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="oblong.html">Oblong</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">257</td>
  <td class="owner">Oblong Antique Tractor &amp; Engine Show</td>
  <td class="origin">pump</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.004445,-87.918177&spn=0.032749,0.077248&t=h&z=14">Illinois</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="tsgeta2.html">Jackson Brick</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">257</td>
  <td class="owner">Tri-State Gas Engine &amp; Tractor Association</td>
  <td class="origin">line shaft drive</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.445967,-84.9856&spn=0.032071,0.077248&t=h&z=14">Indiana</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="silversmith.html">Silversmith Power Station</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">300</td>
  <td class="owner">Silversmith Power and Light Corporation</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=49.981088,-117.358274&spn=0.0271,0.077248&t=h&z=14">British Columbia</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="norm.html">Norm's Engine</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">300</td>
  <td class="owner">Norm Taunton</td>
  <td class="origin">unknown</td>
  <td class="current">unknown</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.279561,-121.300135&spn=0.030791,0.055275&t=h&z=14">California</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="lalightplant.html">Louisiana Light Plant</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">257</td>
  <td class="owner">Hill Country Antique Tractor &amp; Engine Show</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=30.268927,-98.875408&spn=0.041957,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="maryscity.html">Mary's City of David</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">300</td>
  <td class="owner">Mary's City of David</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.115479,-86.434765&spn=0.031261,0.077248&t=h&z=14">Michigan</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="mikeperry.html">Mike's Y</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">300</td>
  <td class="owner">Mike Perry</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=45.546154,-122.548199&spn=0.047727,0.099049&t=h&z=14">Oregan</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="cottongin.html">Cotton Gin</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">100</td>
  <td class="rpm">300</td>
  <td class="owner">Cummings Fairgrounds Heritage Village</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.209389,-84.143772&spn=0.030522,0.055275&t=h&z=14">Georgia</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="williston.html">Williston Pump</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">150</td>
  <td class="rpm">257</td>
  <td class="owner">Epperson Park</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=48.611462,-123.169441&spn=0.023664,0.058365&t=h&z=14">Florida</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="vista.html">Quartzsite Smelting</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">150</td>
  <td class="rpm">257</td>
  <td class="owner">Vista Antique Gas &amp; Steam Engine Museum</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=33.231221,-117.243261&spn=0.040061,0.090895&t=h&z=14">California</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="ccf.html">Beam Quarry</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp"></td>
  <td class="rpm">300</td>
  <td class="owner">Melvin Stone Company</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.275204,-86.521883&spn=0.032153,0.077248&t=h&z=14">Indiana</a></td>
</tr>
<tr>
  <td class="model">Y</td>
  <td class="serial"></td>
  <td class="engine"><a href="mrvsea.html">MRVSEA</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp"></td>
  <td class="rpm">300</td>
  <td class="owner">Missouri River Valley Steam Engine Association</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.937915,-92.598009&spn=0.037787,0.077162&t=h&z=14">Missouri</a></td>
</tr>
<tr>
  <td class="model">Y-V</td>
  <td class="serial"></td>
  <td class="engine"><a href="fallriver.html">Fall River Hydroplant</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Estes Park Museum</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.412843,-105.563765&spn=0.0298,0.076733&t=h&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">Y-V</td>
  <td class="serial"></td>
  <td class="engine"><a href="granbury1.html">Granbury Light Plant (#1)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Granbury Flywheelers</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Granbury,+Hood,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=32.445102,-97.793427&spn=0.037882,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine"><a href="lonniecaudle1.html">Lonnie's Engine (#1)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">60</td>
  <td class="rpm">257</td>
  <td class="owner">Lonnie Caudle</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.880017,-91.211414&spn=0.039853,0.077162&t=h&z=14">Arkansas</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine"><a href="pv.html">Prairie Village</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">50</td>
  <td class="rpm">257</td>
  <td class="owner">Historic Prairie Village</td>
  <td class="origin">line shaft drive</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Madison,+Lake,+South+Dakota&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.00967,-97.154675&spn=0.03494,0.077162&t=h&z=14">South Dakota</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine"><a href="penngrove.html">Penngrove Power</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">80</td>
  <td class="rpm">300</td>
  <td class="owner">Penngrove Power &amp; Implement Museum</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.299233,-122.667933&spn=0.028964,0.055275&t=h&z=14">California</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="ncrvfc.html">Somerset Feed Mill</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">80</td>
  <td class="rpm">300</td>
  <td class="owner">New Centerville &amp; Rural Volunteer Fire Company</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.954557,-79.210224&spn=0.032305,0.077248&t=h&z=14">Pennsylvania</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine"><a href="useppa.html">Useppa Island</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">80</td>
  <td class="rpm">300</td>
  <td class="owner">Useppa Island Historical Society</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=26.678217,-82.231035&spn=0.037656,0.077248&t=h&z=14">Florida</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="oldenburg.html">Oldenburg Academy</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">80</td>
  <td class="rpm">300</td>
  <td class="owner">Franklin County Antique Machinery Show</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.434271,-84.996586&spn=0.037521,0.077162&t=h&z=14">Indiana</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="wnygsa3.html">Nunda Powerhouse 3-cyl</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">180</td>
  <td class="rpm">257</td>
  <td class="owner">Western New York Gas &amp; Steam Show</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.922178,-78.297672&spn=0.03086,0.077248&t=h&z=14">New York</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="tnky3.html">Rafferty Gin</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">180</td>
  <td class="rpm">257</td>
  <td class="owner">TN-KY Threshermen's Association</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Adams,+Robertson,+Tennessee&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.582452,-87.063046&spn=0.03901,0.077162&t=h&z=14">Tennessee</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="tnky4.html">Rafferty Gin</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp"></td>
  <td class="rpm">300</td>
  <td class="owner">TN-KY Threshermen's Association</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Adams,+Robertson,+Tennessee&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.582452,-87.063046&spn=0.03901,0.077162&t=h&z=14">Tennessee</a></td>
</tr>
<tr>
  <td class="model">Y-VA</td>
  <td class="serial"></td>
  <td class="engine"><a href="dover.html">Dover</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">6</td>
  <td class="hp">360</td>
  <td class="rpm">257</td>
  <td class="owner">Dover Steam Show</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.524761,-81.477613&spn=0.034122,0.077162&t=h&z=14">Ohio</a></td>
</tr>
<tr>
  <td class="model">32B12</td>
  <td class="serial"></td>
  <td class="engine"><a href="niederwald.html">Niederwald Cotton Gin</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">120</td>
  <td class="rpm">300</td>
  <td class="owner">unknown</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Farmersville,+Collin,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=30.025631,-97.714548&spn=0.038865,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">32E12</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="sapelo1.html">Sapelo Island (#1)</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">120</td>
  <td class="rpm">360</td>
  <td class="owner">East Tennessee Crank-Up</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="">Tennessee</a></td>
</tr>
<tr>
  <td class="model">32E12</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="sapelo2.html">Sapelo Island (#2)</a></td>
  <td class="bore">12</td>
  <td class="stroke">15</td>
  <td class="cyl">2</td>
  <td class="hp">120</td>
  <td class="rpm">360</td>
  <td class="owner">Ashtabula County Antique Engine Club</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Wayne,+Ashtabula,+Ohio&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=41.540064,-80.654154&spn=0.033599,0.077162&t=h&z=14">Ohio</a></td>
</tr>
<tr>
  <td class="model">32B14</td>
  <td class="serial"></td>
  <td class="engine"><a href="koreshan.html">Koreshan Unity</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">120</td>
  <td class="rpm">360</td>
  <td class="owner">Koreshan State Park</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=26.44852,-81.832094&spn=0.037732,0.077248&t=h&z=14">Florida</a></td>
</tr>
<tr>
  <td class="model">32B14</td>
  <td class="serial"></td>
  <td class="engine"><a href="chvm.html">Cumberland Village</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">75</td>
  <td class="rpm">300</td>
  <td class="owner">Cumberland Heritage Village Museum</td>
  <td class="origin">line shaft drive</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=45.529501,-75.408611&spn=0.027418,0.076733&t=h&z=14">Ontario</a></td>
</tr>
<tr>
  <td class="model">32B14</td>
  <td class="serial"></td>
  <td class="engine"><a href="farmersville.html">Farmersville</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">180</td>
  <td class="rpm">257</td>
  <td class="owner">City of Farmersville</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Farmersville,+Collin,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=33.16414,-96.362629&spn=0.040667,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">32C14</td>
  <td class="serial"></td>
  <td class="engine"><a href="rteha.html">Rough &amp; Tumble</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">60</td>
  <td class="rpm">257</td>
  <td class="owner">Rough &amp; Tumble Engineers Historical Association</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=222+Spring+Rd,+Brownsville,+Washington,+Pennsylvania+15417&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.000794,-76.072941&spn=0.034387,0.077162&t=h&z=14">Pennsylvania</a></td>
</tr>
<tr>
  <td class="model">32C14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="pontiac.html">Leroy Water Works</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">60</td>
  <td class="rpm">257</td>
  <td class="owner">Threshermen's Reunion</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.947881,-88.628254&spn=0.029562,0.076733&t=h&z=14">Ilinois</a></td>
</tr>
<tr>
  <td class="model">32C14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="tedtea.html">Seymour Light Plant</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">280</td>
  <td class="rpm">300</td>
  <td class="owner">Texas Early Day Tractor &amp; Engine Association</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=31.133416,-97.364101&spn=0.031959,0.055189&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="flywheelers.html">Sanford Power</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Florida Flywheelers Antique Engine Club</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=27.712406,-81.705151&spn=0.034649,0.076733&t=h&z=14">Florida</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="homestake.html">Homestake Mine</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">75</td>
  <td class="rpm">300</td>
  <td class="owner">unknown</td>
  <td class="origin">line shaft drive</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Madison,+Lake,+South+Dakota&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.07735,-103.199215&spn=0.0349,0.077162&t=h&z=14">South Dakota</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="zimbleman.html">Steves' Engine</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">1</td>
  <td class="hp">75</td>
  <td class="rpm">300</td>
  <td class="owner">Steve Zimbleman Sr. &amp; Senior</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.110232,-121.290232&spn=0.03532,0.077162&t=h&z=14">California</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="chickentown.html">Chickentown</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Chickentown Gas &amp; Steam Association</td>
  <td class="origin">line shaft drive</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.988037,-79.115725&spn=0.030053,0.055275&t=h&z=14">Pennsylvania</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="granbury2.html">Granbury Light Plant (#2)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Granbury Flywheelers</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Granbury,+Hood,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=32.445102,-97.793427&spn=0.037882,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="mtpleasant.html">Mt. Pleasant</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Midwest Old Threshermen's Reunion</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.966484,-91.55345&spn=0.031822,0.077248&t=h&z=14">Iowa</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="molokai1.html">Molokai Light Plant (#1)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">unknown</td>
  <td class="origin">generator</td>
  <td class="current">derelict</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=21.157359,-157.013083&spn=0.041864,0.077162&t=h&z=14">Hawaii</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="molokai2.html">Molokai Light Plant (#2)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">unknown</td>
  <td class="origin">generator</td>
  <td class="current">derelict</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=21.157359,-157.013083&spn=0.041864,0.077162&t=h&z=14">Hawaii</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="rocheharbor2.html">Roche Harbor 2-cyl</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Roche Harbor Resort</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=48.616059,-123.163347&spn=0.027861,0.077248&t=h&z=14">Washington</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="wnygsa2.html">Nunda Powerhouse 2-cyl</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Western New York Gas &amp; Steam Show</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.908977,-78.296385&spn=0.030867,0.077248&t=h&z=14">New York</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="mhm2.html">Mennonite Heritage</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">Mennonite Heritage Museum</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.261569,-97.318954&spn=0.03309,0.077248&t=h&z=14">Kansas</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="tnky2.html">TN-KY</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">2</td>
  <td class="hp">150</td>
  <td class="rpm">300</td>
  <td class="owner">TN-KY Threshermen's Association</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Adams,+Robertson,+Tennessee&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.582452,-87.063046&spn=0.03901,0.077162&t=h&z=14">Tennessee</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="granbury3.html">Granbury Light Plant (#3)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">Granbury Flywheelers</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Granbury,+Hood,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=32.445102,-97.793427&spn=0.037882,0.077162&t=h&z=14">Texas</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="robsonsmining.html">Robson Mining</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">Robson's Mining World</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=33.956247,-113.177633&spn=0.034956,0.077248&t=h&z=14">Arizona</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="ciderpress.html">Cider Press</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">Fort Allen Antique Farm Equipment Association</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.419802,-79.567108&spn=0.029862,0.055275&t=h&z=14">Pennsylvania</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="rocheharbor3.html">Roche Harbor 3-cyl</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">Roche Harbor Resort</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=48.617477,-123.152533&spn=0.02786,0.077248&t=h&z=14">Washington</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="nationalpike.html">National Pike</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">National Pike Steam, Gas, &amp; Horse Association</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=222+Spring+Rd,+Brownsville,+Washington,+Pennsylvania+15417&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.048643,-79.928627&spn=0.037188,0.077162&t=h&z=14">Pennsylvania</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta3.html">Delta (#3)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.741164,-108.070621&spn=0.031063,0.077248&t=h&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta4.html">Delta (#4)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.741164,-108.070621&spn=0.031063,0.077248&t=h&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta5.html">Delta (#5)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.741164,-108.070621&spn=0.031063,0.077248&t=h&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="newbritain3.html">New Britain Water Works</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">Zagray Farm Museum</td>
  <td class="origin">pump</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=41.59253,-72.362223&spn=0.037295,0.082569&t=h&z=14">Connecticut</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="sfwmd.html">Okeechobee Pump</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">3</td>
  <td class="hp">225</td>
  <td class="rpm">300</td>
  <td class="owner">South Florida Water Management District</td>
  <td class="origin">pump</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=26.698275,-80.812474&spn=0.037573,0.077333&t=h&z=14">Florida</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="cody.html">Cody Powerhouse</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">unknown</td>
  <td class="origin">generator</td>
  <td class="current">derelict</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=49.98898,-117.185326&spn=0.031234,0.077162&t=h&z=14">British Columbia</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="lesueur.html">Lake Crystal Powerhouse</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">Le Sueur County Pioneer Power Association</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.469745,-93.81423&spn=0.02842,0.077248&t=h&z=14">Minnesota</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="mhm4.html">Mennonite</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">Mennonite Heritage Museum</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.260154,-97.317924&spn=0.031271,0.077248&t=h&z=14">Kansas</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="newbritain4.html">New Britain Water Works</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">Zagray Farm Museum</td>
  <td class="origin">pump</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=41.59253,-72.362223&spn=0.037295,0.082569&t=h&z=14">Connecticut</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine display-prior"><a href="pottsville.html">Oregon Irrigation Pump</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">Early Day Gas Engine &amp; Tractor Association Branch 9</td>
  <td class="origin">pump</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=pottsville,&hnear=Oregon&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.545429,-123.391056&spn=0.03421,0.077162&t=h&z=14">Oregon</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="powhattan.html">Powhattan</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">4</td>
  <td class="hp">300</td>
  <td class="rpm">300</td>
  <td class="owner">Powhatan County Fair</td>
  <td class="origin">generator</td>
  <td class="current">display</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=37.55077,-77.929974&spn=0.029601,0.055189&t=h&z=14">Virgina</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="indiangrave2.html">Indian Grave Pumphouse (#2)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">5</td>
  <td class="hp">375</td>
  <td class="rpm">300</td>
  <td class="owner">Indian Grave Drainage District</td>
  <td class="origin">pump</td>
  <td class="current">pump</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.987774,-91.438608&spn=0.030514,0.077248&t=h&z=14">Illinois</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="indiangrave3.html">Indian Grave Pumphouse (#3)</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">5</td>
  <td class="hp">375</td>
  <td class="rpm">300</td>
  <td class="owner">Indian Grave Drainage District</td>
  <td class="origin">pump</td>
  <td class="current">pump</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.987774,-91.438608&spn=0.030514,0.077248&t=h&z=14">Illinois</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="penngrove2.html">Pengrove Lumber Mill</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">6</td>
  <td class="hp">450</td>
  <td class="rpm">300</td>
  <td class="owner">Indian Grave Drainage District</td>
  <td class="origin">line shaft drive</td>
  <td class="current">line shaft drive</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.294652,-122.667503&spn=0.038127,0.077162&z=14">California</a></td>
</tr>
<tr>
  <td class="model">32E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="rockriver.html">Rock River</a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">6</td>
  <td class="hp">450</td>
  <td class="rpm">300</td>
  <td class="owner">Rock River Thresheree Museum</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.792566,-89.058094&spn=0.032941,0.077162&t=h&z=14">Wisconsin</a></td>
</tr>
<tr>
  <td class="model">33D14</td>
  <td class="serial"></td>
  <td class="engine"><a href="chancellor.html"><span class="vessel">Chancellor</span></a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">5</td>
  <td class="hp">375</td>
  <td class="rpm">300</td>
  <td class="owner">Waterford Maritime Historical Society</td>
  <td class="origin">tugboat</td>
  <td class="current">museum ship</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.797857,-73.687105&spn=0.029222,0.077248&z=14">New York</a></td>
</tr>
<tr>
  <td class="model">33D14</td>
  <td class="serial"></td>
  <td class="engine"><a href="patriotic.html"><span class="vessel">Patriotic</span></a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">5</td>
  <td class="hp">375</td>
  <td class="rpm">300</td>
  <td class="owner">unknown</td>
  <td class="origin">tugboat</td>
  <td class="current">unknown</td>
  <td class="location">unknown</td>
</tr>
<tr>
  <td class="model">33E14</td>
  <td class="serial"></td>
  <td class="engine"><a href="helenmcallister.html"><span class="vessel">Helen McAllister</span></a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">6</td>
  <td class="hp">450</td>
  <td class="rpm">300</td>
  <td class="owner">South Street Seaport Museum</td>
  <td class="origin">tugboat</td>
  <td class="current">museum ship</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.718119,-73.980217&spn=0.030185,0.077248&z=14">New York</a></td>
</tr>
<tr>
  <td class="model">35F14</td>
  <td class="serial"></td>
  <td class="engine"><a href="islandchampion.html"><span class="vessel">Island Champion</span></a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">6</td>
  <td class="hp">450</td>
  <td class="rpm">300</td>
  <td class="owner">Debbie Wright</td>
  <td class="origin">tugboat</td>
  <td class="current">yacht</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.988773,-122.134752&spn=0.026654,0.077248&z=14">Washington</a></td>
</tr>
<tr>
  <td class="model">35F14</td>
  <td class="serial"></td>
  <td class="engine"><a href="valiant.html"><span class="vessel">Valiant</span></a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">8</td>
  <td class="hp">600</td>
  <td class="rpm">300</td>
  <td class="owner">Mike Perry</td>
  <td class="origin">tugboat</td>
  <td class="current">yacht</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=45.574999,-122.542706&spn=0.047703,0.099049&t=h&z=14">Oregon</a></td>
</tr>
<tr>
  <td class="model">35F14</td>
  <td class="serial"></td>
  <td class="engine"><a href="adak.html"><span class="vessel">Adak</span></a></td>
  <td class="bore">14</td>
  <td class="stroke">17</td>
  <td class="cyl">6</td>
  <td class="hp">450</td>
  <td class="rpm">300</td>
  <td class="owner">Pieter Vanderhoek</td>
  <td class="origin">tugboat</td>
  <td class="current">yacht</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=57.053195,-135.329933&spn=0.020072,0.055275&t=h&z=14">Alaska</a></td>
</tr>
<tr>
  <td class="model">33D16</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta2.html">Delta (#2)</a></td>
  <td class="bore">16</td>
  <td class="stroke">20</td>
  <td class="cyl">4</td>
  <td class="hp">700</td>
  <td class="rpm">300</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.74585,-108.093538&spn=0.031061,0.077248&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">33F16</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta1.html">Delta (#1)</a></td>
  <td class="bore">16</td>
  <td class="stroke">20</td>
  <td class="cyl">8</td>
  <td class="hp">1400</td>
  <td class="rpm">300</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.74585,-108.093538&spn=0.031061,0.077248&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">33F16</td>
  <td class="serial"></td>
  <td class="engine"><a href="olympic.html"><span class="vessel">Olympic</span></a></td>
  <td class="bore">16</td>
  <td class="stroke">20</td>
  <td class="cyl">8</td>
  <td class="hp">1400</td>
  <td class="rpm">300</td>
  <td class="owner">Pacific Marine Foundation</td>
  <td class="origin">ferry</td>
  <td class="current">mothballed</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.617992,-122.509886&spn=0.024878,0.055275&t=h&z=14">Washington</a></td>
</tr>
<tr>
  <td class="model">33F16</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta6.html">Delta (#6)</a></td>
  <td class="bore">16</td>
  <td class="stroke">20</td>
  <td class="cyl">10</td>
  <td class="hp">2000</td>
  <td class="rpm">300</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.74585,-108.093452&spn=0.031061,0.077248&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model">31A18</td>
  <td class="serial"></td>
  <td class="engine"><a href="delta7.html">Delta (#7)</a></td>
  <td class="bore">18</td>
  <td class="stroke">27</td>
  <td class="cyl">10</td>
  <td class="hp">3500</td>
  <td class="rpm">277</td>
  <td class="owner">City of Delta Utilities</td>
  <td class="origin">generator</td>
  <td class="current">generator</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.745783,-108.093452&spn=0.031061,0.077248&z=14">Colorado</a></td>
</tr>
<tr>
  <td class="model"></td>
  <td class="serial"></td>
  <td class="engine"><a href="ellis.html">Ellis's engine</a></td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl"></td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Ellis Bennett</td>
  <td class="origin">unknown</td>
  <td class="current">unknown</td>
  <td class="location">unknown</td>
</tr>
<tr>
  <td class="model"></td>
  <td class="serial"></td>
  <td class="engine"><a href="mitchell.html">Mitchell Pumping Station</a></td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl"></td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">City of Greensboro</td>
  <td class="origin">pump</td>
  <td class="current">pump</td>
  <td class="location"><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.093222,-79.806662&spn=0.029823,0.055275&t=h&z=14">North Carolina</a></td>
</tr>
<tr>
  <td class="model">(10)37F16</td>
  <td class="serial">968750</td>
  <td class="engine">Alexander Henry (port)</td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl">10</td>
  <td class="hp">1775</td>
  <td class="rpm"></td>
  <td class="owner">Lakehead Transportation Society</td>
  <td class="origin"></td>
  <td class="current"></td>
  <td class="location"></td>
</tr>
<tr>
  <td class="model">(10)37F16</td>
  <td class="serial">968752</td>
  <td class="engine">Alexander Henry (starboard)</td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl">10</td>
  <td class="hp">1775</td>
  <td class="rpm"></td>
  <td class="owner">Lakehead Transportation Society</td>
  <td class="origin"></td>
  <td class="current"></td>
  <td class="location"></td>
</tr>
<tr>
  <td class="model">(8)31A8 1/8</td>
  <td class="serial">968736</td>
  <td class="engine">Alexander Henry (generator)</td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl">6</td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Lakehead Transportation Society</td>
  <td class="origin"></td>
  <td class="current"></td>
  <td class="location"></td>
</tr>
<tr>
  <td class="model">(4)32E14</td>
  <td class="serial"></td>
  <td class="engine">PHM's 32E14</td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl">4</td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Pottsville Historical Museum</td>
  <td class="origin"></td>
  <td class="current"></td>
  <td class="location">Grants Pass, Oregon</td>
</tr>
<tr>
  <td class="model">(2)32E14</td>
  <td class="serial"></td>
  <td class="engine">JBMAGSEA's 32E14</td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl">2</td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Jacktown - Blue Mountain Antique Gas &amp; Steam Engine Association</td>
  <td class="origin"></td>
  <td class="current"></td>
  <td class="location">Bangor, Pennsylvania</td>
</tr>
<tr>
  <td class="model">(4)32E14</td>
  <td class="serial"></td>
  <td class="engine">PHM's 32E14</td>
  <td class="bore"></td>
  <td class="stroke"></td>
  <td class="cyl"></td>
  <td class="hp"></td>
  <td class="rpm"></td>
  <td class="owner">Union Thresherman's Club</td>
  <td class="origin"></td>
  <td class="current"></td>
  <td class="location">Manawa, Wisconsin</td>
</tr>
{% endblock %}

