{% extends 'common/_root.html.j2' %}

{% block body %}
<div id="engine-list">
  <div class="branding"><a href="/">Old Tacoma Marine, Inc.</a></div>
  {% block engine_description %}{% endblock %}

  <div class="table-info">
    Click on the headings to sort table by column. Names
    <span class="strike">struck out</span> designate an engine's original
    provenance prior to removal for display.
  </div>

  <table class="sortable">
    <tr>
      <th>Model</th>
      <th>Serial</th>
      <th>Engine</th>
      <th class="numeric">Bore</th>
      <th class="numeric">Stroke</th>
      <th class="numeric">Cyl</th>
      <th class="numeric">HP</th>
      <th class="numeric">RPM</th>
      <th>Owner</th>
      <th>Originally</th>
      <th>Currently</th>
      <th>State</th>
    </tr>
    {% block engine_list %}{% endblock %}
  </table>
</div>
{% endblock %}

