{% extends 'common/_root.html.j2' %}

{% block head %}
  <title>Fairbanks-Morse - Old Tacoma Marine</title>

  <link rel="stylesheet" media="all" type="text/css" href="/css/engine.css">
	<script type="text/javascript" src="/js/tablesort.js"></script>
{% endblock %}

{% block body %}
<div class="specsBg">
	<div class="branding"><a href="../index.shtml">Old Tacoma Marine, Inc.</a></div>
	<div class="specsContent">
		<h1>Fairbanks-Morse</h1>
		<h3>Known remaining Fairbanks-Morse diesel engines</h3>
		<p>Fairbanks-Morse model numbers are a combination of three different designations: design year, letter designation, and bore size.  Design year is the year that the design was implemented ('32, '33, '37, etc).  Letter designations include A for a flapper-type blower, E, F and Y for a crank-case air scavenging system, and D for a piston-type blower.  For example, a 32E14 is an engine designed in 1932 with a crank case air scavenging system and a 14-inch bore.</p>
		<div class="small">Click on the grey headings to sort table by column.  Names <span class="strike">struck out</span> designate an engine's original provenance prior to removal for display. <br>&nbsp;</div>
		
<table id="fairbanks" cellpadding="0" cellspacing="0" border="0" class="sortable-onload rowstyle-alt colstyle-alt no-arrow">
	<tr>
		<th class="sortable">Model</th>
		<th class="sortable">Serial</th>
		<th class="sortable">Engine</th>
		<th class="sortable-numeric">Bore</th>
		<th class="sortable-numeric">Stroke</th>
		<th class="sortable-numeric">Cyl's</th>
		<th class="sortable-numeric">HP</th>
		<th class="sortable-numeric">RPM</th>
		<th class="sortable">Owner</th>
		<th class="sortable">Type</th>
		<th class="sortable">Currently</th>
		<th class="sortable">State</th>
	</tr>   
	<tr>
		<td>31A8&nbsp;1/2</td>
		<td></td>
		<td><a href="braggadocio.html">Braggadocio Cotton Gin</a></td>  
		<td>8-1/2</td>
		<td>11-1/2</td>
		<td>6</td>     
		<td>330</td>    
		<td>525</td>    
		<td>Marty</td>
		<td>line shaft drive</td>
		<td>idle</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.183818,-89.843016&spn=0.055837,0.060339&t=h&z=14">Missouri</a></td>
	</tr>
	<tr>
		<td>31A8&nbsp;1/2</td>
		<td></td>
		<td><a href="nokomis.html"><i>Nokomis</i></a></td>  
		<td>8-1/2</td>
		<td>11-1/2</td>
		<td>6</td>     
		<td>330</td>    
		<td>525</td>    
		<td>John</td>
		<td>ice-breaker</td>
		<td>museum ship</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.980162,-76.341076&spn=0.037764,0.077162&t=h&z=14">Maryland</a></td>
	</tr>
	<tr>
		<td>31A8&nbsp;1/2</td>
		<td></td>
		<td><a href="johnncobb.html"><i>John N Cobb</i></a></td>  
		<td>8-1/2</td>
		<td>11-1/2</td>
		<td>8</td>     
		<td>440</td>    
		<td>525</td>    
		<td>Seattle Maritime Academy</td>
		<td>research vessel</td>
		<td>training</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.693646,-122.23629&spn=0.026344,0.076733&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>35F10</td>
		<td></td>
		<td><a href="barbarah.html"><i>Barbara H</i></a></td>  
		<td>10</td>
		<td>12-1/2</td>
		<td>4</td>     
		<td>160</td>    
		<td>400</td>    
		<td>Historic Sternwheeler Preservation Society</td>
		<td>sternwheeler</td>
		<td>museum ship</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.703597,-85.213566&spn=0.030544,0.076733&t=h&z=14">Indiana</a></td>
	</tr>
	<tr>
		<td>35F10</td>
		<td></td>
		<td><a href="josiet.html"><i>Josie T</i></a></td>  
		<td>10</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>240</td>    
		<td>400</td>    
		<td>Carl Selvagie</td>
		<td>tugboat</td>
		<td>tugboat</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.783843,-73.678136&spn=0.050331,0.091753&z=14">New York</a></td>
	</tr>
	<tr>
		<td>35F10</td>
		<td></td>
		<td><a href="skansonia1.html"><i>Skansonia #1</i></a></td>  
		<td>10</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>240</td>    
		<td>400</td>    
		<td>Skansonia Waterfront Catering</td>
		<td>ferry</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.659664,-122.33345&spn=0.026419,0.055275&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>35F10</td>
		<td></td>
		<td><a href="skansonia2.html"><i>Skansonia #2</i></a></td>  
		<td>10</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>240</td>    
		<td>400</td>    
		<td>Skansonia Waterfront Catering</td>
		<td>ferry</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.659664,-122.33345&spn=0.026419,0.055275&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>35F10</td>
		<td></td>
		<td><a href="shermanzwicker.html"><i>Sherman Zwicker</i></a></td>  
		<td>10</td>
		<td>12-1/2</td>
		<td>6</td>     
		<td>240</td>    
		<td>400</td>    
		<td>Grand Banks Schooner Museum</td>
		<td>auxiliary schooner</td>
		<td>museum ship</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=43.895913,-69.835281&spn=0.028203,0.076733&t=h&z=14">Maine</a></td>
	</tr>
	<tr>
		<td>33D12</td>
		<td></td>
		<td><a href="heritagehill.html">Heritage Hill</a></td>  
		<td>12</td>
		<td>15</td>
		<td>2</td>     
		<td class="clear">900</td>
		<td class="clear">900</td>
		<td>Minnesota Valley Antique Farm Power &amp; Machinery Association</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.955817,-95.631394&spn=0.026117,0.055275&t=h&z=14">Minnesota</a></td>
	</tr>
	<tr>
		<td>37E12</td>
		<td></td>
		<td><a href="crow.html"><i>Kerri K</i></a></td>  
		<td>12</td>
		<td>15</td>
		<td>6</td>     
		<td class="clear">900</td>
		<td class="clear">900</td>
		<td>Port Albany Ventures LLC</td>
		<td>tugboat</td>
		<td>tugboat</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.618739,-73.780403&spn=0.031012,0.077248&t=h&z=14">New York</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="ruppscitrus.html">Rupp's Citrus Conveyor</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Rupp Family</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=27.224715,-98.123102&spn=0.039917,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="rockriver1.html">Rock River</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Rock River Thresheree Museum</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=pottsville,&hnear=Oregon&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.792881,-89.033203&spn=0.034074,0.077162&t=h&z=14">Wisconsin</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="lonniecaudle2.html">Lonnie's Engine (2)</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Lonnie Caudle</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.896773,-91.212101&spn=0.039845,0.077162&t=h&z=14">Arkansas</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="gene.html">Gene's engine</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>75</td>    
		<td>300</td>    
		<td>Gene DeCamp</td>
		<td>unknown</td>
		<td>unknown</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.740555,-112.027845&spn=0.032232,0.055275&t=h&z=14">Arizona</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="tsgeta1.html">Tri-State</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Tri-State Gas Engine &amp; Tractor Association</td>
		<td>line shaft drive</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.455373,-84.944315&spn=0.032067,0.077248&t=h&z=14">Indiana</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="oblong.html">Oblong</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>257</td>    
		<td>Oblong Antique Tractor &amp; Engine Show</td>
		<td>pump</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.004445,-87.918177&spn=0.032749,0.077248&t=h&z=14">Illinois</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="tsgeta2.html"><span class="strike">Jackson Brick</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>257</td>    
		<td>Tri-State Gas Engine &amp; Tractor Association</td>
		<td>line shaft drive</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.445967,-84.9856&spn=0.032071,0.077248&t=h&z=14">Indiana</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="silversmith.html">Silversmith Power Station</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>300</td>    
		<td>Silversmith Power and Light Corporation</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=49.981088,-117.358274&spn=0.0271,0.077248&t=h&z=14">British Columbia</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="norm.html">Norm's Engine</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>300</td>    
		<td>Norm Taunton</td>
		<td>unknown</td>
		<td>unknown</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.279561,-121.300135&spn=0.030791,0.055275&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="lalightplant.html"><span class="strike">Louisiana Light Plant</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>257</td>    
		<td>Hill Country Antique Tractor &amp; Engine Show</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=30.268927,-98.875408&spn=0.041957,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="maryscity.html">Mary's City of David</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>300</td>    
		<td>Mary's City of David</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.115479,-86.434765&spn=0.031261,0.077248&t=h&z=14">Michigan</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="mikeperry.html">Mike's Y</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>300</td>    
		<td>Mike Perry</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=45.546154,-122.548199&spn=0.047727,0.099049&t=h&z=14">Oregan</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="cottongin.html">Cotton Gin</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>100</td>    
		<td>300</td>    
		<td>Cummings Fairgrounds Heritage Village</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.209389,-84.143772&spn=0.030522,0.055275&t=h&z=14">Georgia</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="williston.html">Williston Pump</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>150</td>    
		<td>257</td>    
		<td>Epperson Park</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=48.611462,-123.169441&spn=0.023664,0.058365&t=h&z=14">Florida</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="vista.html"><span class="strike">Quartzsite Smelting</span></a></td>
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>150</td>    
		<td>257</td>    
		<td>Vista Antique Gas &amp; Steam Engine Museum</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=33.231221,-117.243261&spn=0.040061,0.090895&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="ccf.html"><span class="strike">Beam Quarry</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td></td>    
		<td>300</td>    
		<td>Melvin Stone Company</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.275204,-86.521883&spn=0.032153,0.077248&t=h&z=14">Indiana</a></td>
	</tr>
	<tr>
		<td>Y</td>
		<td></td>
		<td><a href="mrvsea.html">MRVSEA</a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td></td>    
		<td>300</td>    
		<td>Missouri River Valley Steam Engine Association</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.937915,-92.598009&spn=0.037787,0.077162&t=h&z=14">Missouri</a></td>
	</tr>
	<tr>
		<td>Y-V</td>
		<td></td>
		<td><a href="fallriver.html">Fall River Hydroplant</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Estes Park Museum</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.412843,-105.563765&spn=0.0298,0.076733&t=h&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>Y-V</td>
		<td></td>
		<td><a href="granbury1.html">Granbury Light Plant #1</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Granbury Flywheelers</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Granbury,+Hood,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=32.445102,-97.793427&spn=0.037882,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="lonniecaudle1.html">Lonnie's Engine (1)</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>60</td>    
		<td>257</td>    
		<td>Lonnie Caudle</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=34.880017,-91.211414&spn=0.039853,0.077162&t=h&z=14">Arkansas</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="pv.html">Prairie Village</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>50</td>    
		<td>257</td>    
		<td>Historic Prairie Village</td>
		<td>line shaft drive</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Madison,+Lake,+South+Dakota&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.00967,-97.154675&spn=0.03494,0.077162&t=h&z=14">South Dakota</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="penngrove.html">Penngrove Power</a></td>  
		<td>12</td>
		<td>15</td>
		<td>2</td>     
		<td>80</td>    
		<td>300</td>    
		<td>Penngrove Power &amp; Implement Museum</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.299233,-122.667933&spn=0.028964,0.055275&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="ncrvfc.html"><span class="strike">Somerset Feed Mill</span></a></td>  
		<td>12</td>
		<td>15</td>
		<td>2</td>     
		<td>80</td>    
		<td>300</td>    
		<td>New Centerville &amp; Rural Volunteer Fire Company</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.954557,-79.210224&spn=0.032305,0.077248&t=h&z=14">Pennsylvania</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="useppa.html">Useppa Island</a></td>  
		<td>12</td>
		<td>15</td>
		<td>2</td>     
		<td>80</td>    
		<td>300</td>    
		<td>Useppa Island Historical Society</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=26.678217,-82.231035&spn=0.037656,0.077248&t=h&z=14">Florida</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="oldenburg.html"><span class="strike">Oldenburg Academy</span></a></td>  
		<td>12</td>
		<td>15</td>
		<td>2</td>     
		<td>80</td>    
		<td>300</td>    
		<td>Franklin County Antique Machinery Show</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.434271,-84.996586&spn=0.037521,0.077162&t=h&z=14">Indiana</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="wnygsa3.html"><span class="strike">Nunda Powerhouse</span> 3-cyl</a></td>
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>180</td>    
		<td>257</td>    
		<td>Western New York Gas &amp; Steam Show</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.922178,-78.297672&spn=0.03086,0.077248&t=h&z=14">New York</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="tnky3.html"><span class="strike">Rafferty Gin</span></a></td>
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>180</td>    
		<td>257</td>    
		<td>TN-KY Threshermen's Association</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Adams,+Robertson,+Tennessee&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.582452,-87.063046&spn=0.03901,0.077162&t=h&z=14">Tennessee</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="tnky4.html"><span class="strike">Rafferty Gin</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td></td>    
		<td>300</td>    
		<td>TN-KY Threshermen's Association</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Adams,+Robertson,+Tennessee&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.582452,-87.063046&spn=0.03901,0.077162&t=h&z=14">Tennessee</a></td>
	</tr>
	<tr>
		<td>Y-VA</td>
		<td></td>
		<td><a href="dover.html">Dover</a></td>  
		<td>14</td>
		<td>17</td>
		<td>6</td>     
		<td>360</td>    
		<td>257</td>    
		<td>Dover Steam Show</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.524761,-81.477613&spn=0.034122,0.077162&t=h&z=14">Ohio</a></td>
	</tr>
	<tr>
		<td>32B12</td>
		<td></td>
		<td><a href="niederwald.html">Niederwald Cotton Gin</a></td>  
		<td>12</td>
		<td>15</td>
		<td>2</td>     
		<td>120</td>    
		<td>300</td>    
		<td>unknown</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Farmersville,+Collin,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=30.025631,-97.714548&spn=0.038865,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>32E12</td>
		<td></td>
		<td><a href="sapelo1.html"><span class="strike">Sapelo Island</span> 1</a></td>  
		<td>12</td>
		<td>15</td>  
		<td>2</td>
		<td>120</td>    
		<td>360</td>    
		<td>East Tennessee Crank-Up</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="">Tennessee</a></td>
	</tr>
	<tr>
		<td>32E12</td>
		<td></td>
		<td><a href="sapelo2.html"><span class="strike">Sapelo Island</span> 2</a></td>  
		<td>12</td>
		<td>15</td>  
		<td>2</td>
		<td>120</td>    
		<td>360</td>    
		<td>Ashtabula County Antique Engine Club</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Wayne,+Ashtabula,+Ohio&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=41.540064,-80.654154&spn=0.033599,0.077162&t=h&z=14">Ohio</a></td>
	</tr>
	<tr>
		<td>32B14</td>
		<td></td>
		<td><a href="koreshan.html">Koreshan Unity</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>120</td>    
		<td>360</td>    
		<td>Koreshan State Park</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=26.44852,-81.832094&spn=0.037732,0.077248&t=h&z=14">Florida</a></td>
	</tr>
	<tr>
		<td>32B14</td>
		<td></td>
		<td><a href="chvm.html">Cumberland Village</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>75</td>    
		<td>300</td>    
		<td>Cumberland Heritage Village Museum</td>
		<td>line shaft drive</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=45.529501,-75.408611&spn=0.027418,0.076733&t=h&z=14">Ontario</a></td>
	</tr>
	<tr>
		<td>32B14</td>
		<td></td>
		<td><a href="farmersville.html">Farmersville</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>180</td>    
		<td>257</td>    
		<td>City of Farmersville</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Farmersville,+Collin,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=33.16414,-96.362629&spn=0.040667,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>32C14</td>
		<td></td>
		<td><a href="rteha.html">Rough &amp; Tumble</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>60</td>    
		<td>257</td>    
		<td>Rough &amp; Tumble Engineers Historical Association</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=222+Spring+Rd,+Brownsville,+Washington,+Pennsylvania+15417&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.000794,-76.072941&spn=0.034387,0.077162&t=h&z=14">Pennsylvania</a></td>
	</tr>
	<tr>
		<td>32C14</td>
		<td></td>
		<td><a href="pontiac.html"><span class="strike">Leroy Water Works</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>60</td>    
		<td>257</td>    
		<td>Threshermen's Reunion</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.947881,-88.628254&spn=0.029562,0.076733&t=h&z=14">Ilinois</a></td>
	</tr>
	<tr>
		<td>32C14</td>
		<td></td>
		<td><a href="tedtea.html"><span class="strike">Seymour Light Plant</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>280</td>    
		<td>300</td>    
		<td>Texas Early Day Tractor &amp; Engine Association</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=31.133416,-97.364101&spn=0.031959,0.055189&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="flywheelers.html"><span class="strike">Sanford Power</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Florida Flywheelers Antique Engine Club</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=27.712406,-81.705151&spn=0.034649,0.076733&t=h&z=14">Florida</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="homestake.html"><span class="strike">Homestake Mine</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>75</td>    
		<td>300</td>    
		<td>unknown</td>
		<td>line shaft drive</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Madison,+Lake,+South+Dakota&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.07735,-103.199215&spn=0.0349,0.077162&t=h&z=14">South Dakota</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="zimbleman.html">Steves' Engine</a></td>  
		<td>14</td>
		<td>17</td>
		<td>1</td>     
		<td>75</td>    
		<td>300</td>    
		<td>Steve Zimbleman Sr. &amp; Senior</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.110232,-121.290232&spn=0.03532,0.077162&t=h&z=14">California</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="chickentown.html">Chickentown</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Chickentown Gas &amp; Steam Association</td>
		<td>line shaft drive</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.988037,-79.115725&spn=0.030053,0.055275&t=h&z=14">Pennsylvania</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="granbury2.html">Granbury Light Plant #2</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Granbury Flywheelers</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Granbury,+Hood,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=32.445102,-97.793427&spn=0.037882,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="mtpleasant.html">Mt. Pleasant</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Midwest Old Threshermen's Reunion</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.966484,-91.55345&spn=0.031822,0.077248&t=h&z=14">Iowa</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="molokai1.html">Molokai Light Plant #1</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>unknown</td>
		<td>generator</td>
		<td>derelict</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=21.157359,-157.013083&spn=0.041864,0.077162&t=h&z=14">Hawaii</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="molokai2.html">Molokai Light Plant #2</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>unknown</td>
		<td>generator</td>
		<td>derelict</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Brinkley,+Monroe,+Arkansas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=21.157359,-157.013083&spn=0.041864,0.077162&t=h&z=14">Hawaii</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="rocheharbor2.html">Roche Harbor 2-cyl</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Roche Harbor Resort</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=48.616059,-123.163347&spn=0.027861,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="wnygsa2.html"><span class="strike">Nunda Powerhouse</span> 2-cyl</a></td>
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Western New York Gas &amp; Steam Show</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.908977,-78.296385&spn=0.030867,0.077248&t=h&z=14">New York</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="mhm2.html">Mennonite Heritage</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>Mennonite Heritage Museum</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.261569,-97.318954&spn=0.03309,0.077248&t=h&z=14">Kansas</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="tnky2.html">TN-KY</a></td>  
		<td>14</td>
		<td>17</td>
		<td>2</td>     
		<td>150</td>    
		<td>300</td>    
		<td>TN-KY Threshermen's Association</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Adams,+Robertson,+Tennessee&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.582452,-87.063046&spn=0.03901,0.077162&t=h&z=14">Tennessee</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="granbury3.html">Granbury Light Plant #3</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>Granbury Flywheelers</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=Granbury,+Hood,+Texas&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=32.445102,-97.793427&spn=0.037882,0.077162&t=h&z=14">Texas</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="robsonsmining.html">Robson Mining</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>Robson's Mining World</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=33.956247,-113.177633&spn=0.034956,0.077248&t=h&z=14">Arizona</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="ciderpress.html">Cider Press</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>Fort Allen Antique Farm Equipment Association</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.419802,-79.567108&spn=0.029862,0.055275&t=h&z=14">Pennsylvania</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="rocheharbor3.html">Roche Harbor 3-cyl</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>Roche Harbor Resort</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=48.617477,-123.152533&spn=0.02786,0.077248&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="nationalpike.html">National Pike</a></td>
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>National Pike Steam, Gas, &amp; Horse Association</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=222+Spring+Rd,+Brownsville,+Washington,+Pennsylvania+15417&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.048643,-79.928627&spn=0.037188,0.077162&t=h&z=14">Pennsylvania</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="delta3.html">Delta #3</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.741164,-108.070621&spn=0.031063,0.077248&t=h&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="delta4.html">Delta #4</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.741164,-108.070621&spn=0.031063,0.077248&t=h&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="delta5.html">Delta #5</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.741164,-108.070621&spn=0.031063,0.077248&t=h&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="newbritain3.html"><span class="strike">New Britain Water Works</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>300</td>    
		<td>300</td>    
		<td>Zagray Farm Museum</td>
		<td>pump</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=41.59253,-72.362223&spn=0.037295,0.082569&t=h&z=14">Connecticut</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="sfwmd.html">Okeechobee Pump</a></td>  
		<td>14</td>
		<td>17</td>
		<td>3</td>     
		<td>225</td>    
		<td>300</td>    
		<td>South Florida Water Management District</td>
		<td>pump</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=26.698275,-80.812474&spn=0.037573,0.077333&t=h&z=14">Florida</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="cody.html">Cody Powerhouse</a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>300</td>    
		<td>300</td>    
		<td>unknown</td>
		<td>generator</td>
		<td>derelict</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=&hnear=&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=49.98898,-117.185326&spn=0.031234,0.077162&t=h&z=14">British Columbia</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="lesueur.html"><span class="strike">Lake Crystal Powerhouse</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>300</td>    
		<td>300</td>    
		<td>Le Sueur County Pioneer Power Association</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=44.469745,-93.81423&spn=0.02842,0.077248&t=h&z=14">Minnesota</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="mhm4.html">Mennonite</a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>300</td>    
		<td>300</td>    
		<td>Mennonite Heritage Museum</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.260154,-97.317924&spn=0.031271,0.077248&t=h&z=14">Kansas</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="newbritain4.html"><span class="strike">New Britain Water Works</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>300</td>    
		<td>300</td>    
		<td>Zagray Farm Museum</td>
		<td>pump</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=41.59253,-72.362223&spn=0.037295,0.082569&t=h&z=14">Connecticut</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="pottsville.html"><span class="strike">Oregon Irrigation Pump</span></a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>300</td>    
		<td>300</td>    
		<td>Early Day Gas Engine &amp; Tractor Association Branch 9</td>
		<td>pump</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=pottsville,&hnear=Oregon&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.545429,-123.391056&spn=0.03421,0.077162&t=h&z=14">Oregon</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="powhattan.html">Powhattan</a></td>  
		<td>14</td>
		<td>17</td>
		<td>4</td>     
		<td>300</td>    
		<td>300</td>    
		<td>Powhatan County Fair</td>
		<td>generator</td>
		<td>display</td>
		<td><a href="http://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=37.55077,-77.929974&spn=0.029601,0.055189&t=h&z=14">Virgina</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="indiangrave1.html">Indian Grave Pumphouse #1</a></td>  
		<td>14</td>
		<td>17</td>
		<td>5</td>     
		<td>375</td>    
		<td>300</td>    
		<td>Indian Grave Drainage District</td>
		<td>pump</td>
		<td>pump</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.987774,-91.438608&spn=0.030514,0.077248&t=h&z=14">Illinois</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="indiangrave2.html">Indian Grave Pumphouse #2</a></td>  
		<td>14</td>
		<td>17</td>
		<td>5</td>     
		<td>375</td>    
		<td>300</td>    
		<td>Indian Grave Drainage District</td>
		<td>pump</td>
		<td>pump</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.987774,-91.438608&spn=0.030514,0.077248&t=h&z=14">Illinois</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="indiangrave3.html">Indian Grave Pumphouse #3</a></td>  
		<td>14</td>
		<td>17</td>
		<td>5</td>     
		<td>375</td>    
		<td>300</td>    
		<td>Indian Grave Drainage District</td>
		<td>pump</td>
		<td>pump</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=39.987774,-91.438608&spn=0.030514,0.077248&t=h&z=14">Illinois</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="penngrove2.html">Pengrove Lumber Mill</a></td>  
		<td>14</td>
		<td>17</td>
		<td>6</td>     
		<td>450</td>    
		<td>300</td>    
		<td>Indian Grave Drainage District</td>
		<td>line shaft drive</td>
		<td>line shaft drive</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.294652,-122.667503&spn=0.038127,0.077162&z=14">California</a></td>
	</tr>
	<tr>
		<td>32E14</td>
		<td></td>
		<td><a href="rockriver.html">Rock River</a></td>  
		<td>14</td>
		<td>17</td>
		<td>6</td>     
		<td>450</td>    
		<td>300</td>    
		<td>Rock River Thresheree Museum</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.792566,-89.058094&spn=0.032941,0.077162&t=h&z=14">Wisconsin</a></td>
	</tr>
	<tr>
		<td>33D14</td>
		<td></td>
		<td><a href="chancellor.html"><i>Chancellor</i></a></td>  
		<td>14</td>
		<td>17</td>
		<td>5</td>     
		<td>375</td>    
		<td>300</td>    
		<td>Waterford Maritime Historical Society</td>
		<td>tugboat</td>
		<td>museum ship</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=42.797857,-73.687105&spn=0.029222,0.077248&z=14">New York</a></td>
	</tr>
	<tr>
		<td>33D14</td>
		<td></td>
		<td><a href="patriotic.html"><i>Patriotic</i></a></td>  
		<td>14</td>
		<td>17</td>
		<td>5</td>     
		<td>375</td>    
		<td>300</td>    
		<td>unknown</td>
		<td>tugboat</td>
		<td>unknown</td>
		<td>unknown</td>
	</tr>
	<tr>
		<td>33E14</td>
		<td></td>
		<td><a href="helenmcallister.html"><i>Helen McAllister</i></a></td>  
		<td>14</td>
		<td>17</td>
		<td>6</td>     
		<td>450</td>    
		<td>300</td>    
		<td>South Street Seaport Museum</td>
		<td>tugboat</td>
		<td>museum ship</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=40.718119,-73.980217&spn=0.030185,0.077248&z=14">New York</a></td>
	</tr>
	<tr>
		<td>35F14</td>
		<td></td>
		<td><a href="islandchampion.html"><i>Island Champion</i></a></td>  
		<td>14</td>
		<td>17</td>
		<td>6</td>     
		<td>450</td>    
		<td>300</td>    
		<td>Hilbert Bartells</td>
		<td>tugboat</td>
		<td>yacht</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.988773,-122.134752&spn=0.026654,0.077248&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>35F14</td>
		<td></td>
		<td><a href="valiant.html"><i>Valiant</i></a></td>  
		<td>14</td>
		<td>17</td>
		<td>8</td>     
		<td>600</td>    
		<td>300</td>    
		<td>Mike Perry</td>
		<td>tugboat</td>
		<td>yacht</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=45.574999,-122.542706&spn=0.047703,0.099049&t=h&z=14">Oregon</a></td>
	</tr>
	<tr>
		<td>35F14</td>
		<td></td>
		<td><a href="adak.html"><i>Adak</i></a></td>  
		<td>14</td>
		<td>17</td>
		<td>6</td>     
		<td>450</td>    
		<td>300</td>    
		<td>Pieter Vanderhoek</td>
		<td>tugboat</td>
		<td>yacht</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=57.053195,-135.329933&spn=0.020072,0.055275&t=h&z=14">Alaska</a></td>
	</tr>
	<tr>
		<td>33D16</td>
		<td></td>
		<td><a href="delta2.html">Delta #2</a></td>  
		<td>16</td>
		<td>20</td>
		<td>4</td>     
		<td>700</td>    
		<td>300</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.74585,-108.093538&spn=0.031061,0.077248&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>33F16</td>
		<td></td>
		<td><a href="delta1.html">Delta #1</a></td>  
		<td>16</td>
		<td>20</td>
		<td>8</td>     
		<td>1400</td>    
		<td>300</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.74585,-108.093538&spn=0.031061,0.077248&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>33F16</td>
		<td></td>
		<td><a href="olympic.html"><i>Olympic</i></a></td>  
		<td>16</td>
		<td>20</td>
		<td>8</td>     
		<td>1400</td>    
		<td>300</td>    
		<td>Pacific Marine Foundation</td>
		<td>ferry</td>
		<td>mothballed</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=47.617992,-122.509886&spn=0.024878,0.055275&t=h&z=14">Washington</a></td>
	</tr>
	<tr>
		<td>33F16</td>
		<td></td>
		<td><a href="delta6.html">Delta #6</a></td>  
		<td>16</td>
		<td>20</td>
		<td>10</td>     
		<td>2000</td>    
		<td>300</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.74585,-108.093452&spn=0.031061,0.077248&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td>31A18</td>
		<td></td>
		<td><a href="delta7.html">Delta #7</a></td>  
		<td>18</td>
		<td>27</td>
		<td>10</td>     
		<td>3500</td>    
		<td>277</td>    
		<td>City of Delta Utilities</td>
		<td>generator</td>
		<td>generator</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=38.745783,-108.093452&spn=0.031061,0.077248&z=14">Colorado</a></td>
	</tr>
	<tr>
		<td class="clear">9</td>
		<td></td>
		<td><a href="ellis.html">Ellis's engine</a></td>  
		<td class="clear">90</td>
		<td class="clear">90</td>  
		<td class="clear">9</td>
		<td class="clear">900</td>
		<td class="clear">900</td>
		<td>Ellis Bennett</td>
		<td>unknown</td>
		<td>unknown</td>
		<td>unknown</td>
	</tr>
	<tr>
		<td class="clear">9</td>
		<td></td>
		<td><a href="mitchell.html">Mitchell Pumping Station</a></td>  
		<td class="clear">90</td>
		<td class="clear">90</td>  
		<td class="clear">9</td>
		<td class="clear">900</td>
		<td class="clear">900</td>
		<td>City of Greensboro</td>
		<td>pump</td>
		<td>pump</td>
		<td><a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=105103426574378662388.000445f9aa7ffb4d46fcf&ll=36.093222,-79.806662&spn=0.029823,0.055275&t=h&z=14">North Carolina</a></td>
	</tr>
</table>
	</div>
	<div class="subnav"><a href="../index.shtml">Home</a> <img src="../images/nav/arrow.gif"> <a href="index.html">Fairbanks-Morse Engines</a> <img src="../images/nav/arrow.gif"> Browse Remaining Engines</div>

</div>
{% endblock %}

