---
title: Old Tacoma Marine
layout: root
pageType: manual-index
---
<h1>{{ page.title }}</h1>

<div class="manuals">
{%- for manual in site.data.manuals[page.engine_type] -%}
{%- capture url_base -%}/manuals/{{ page.engine_type }}/{{ manual.id }}{%- endcapture -%}
{%- capture small_url -%}{{ url_base }}.pdf{%- endcapture -%}
{%- capture large_url -%}{{ url_base }}_large.pdf{%- endcapture -%}
<div class="manual">
  <img class="cover" src="{{ url_base }}.png" alt="Cover of {{ manual.title | escape }}">
  <div class="info">
    <h2>{{ manual.title }}</h2>
    <p>{{ manual.description}}</p>
    <p class="source"><a href="{{ small_url }}">Download</a> ({{ small_url | file_size }})</p>
    {% if manual.has_large -%}<p class="source"><a href="{{ large_url }}">Large</a> ({{ large_url | file_size }})</p>{%- endif -%}
  </div>
</div>
{% endfor -%}
</div>
