---
title: Old Tacoma Marine
layout: root
pageType: manual-index
---
<h1>{{ page.title }}</h1>

<div class="manuals">
{%- for manual in site.data.manuals[page.engine_type] -%}
{%- capture url_base -%}/manuals/{{ page.engine_type }}/{{ manual.id }}{%- endcapture -%}
<div class="manual">
  <img class="cover" src="{{ url_base }}.png" alt="Cover of {{ manual.title | escape }}">
  <div class="info">
    <h2>{{ manual.title }}</h2>
    <p>{{ manual.description}}</p>
    <p class="source"><a href="{{ url_base }}.pdf">Download</a></p>
  </div>
</div>
{%- endfor -%}
</div>
