<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" media="all" type="text/css" href="/css/otm.css">
  <script type="text/javascript" src="/js/tablesort.js"></script>
</head>
<body id="{% if page.pageType %}{{ page.pageType }}{% else %}{{ layout.pageType }}{% endif %}">
  <header class="logo"><a href="/">{{ site.title }}</a></header>
  <main>
{{ content | strip }}
  </main>
</body>
</html>
