.specsBg {
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	border: 1px solid #ddd;
}

.specsContent {
	margin: 0 auto;
	padding: 10px 10px 0 10px;
}

.small {
	font-size: 10px;
}

.clear
        {
	font: 1px Verdana, Arial, sans-serif;
	color: transparent;
        }

table
        {
        width: auto;
        padding: 0;
        margin: 0 auto 1.5em auto;
        border-left: 1px solid #CCCCCC;
        border-collapse:collapse;
        }
.cs1
        {
        width:30em;
        }
.cs2
        {
        width:20em;
        }
.cs1 td,
.cs2 td,
.scientificNotation
        {
        text-align:right;
        }
th
        {
        font: bold 10px Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 1px 1px 1px 1px;
        background: #ddd;
        vertical-align:middle;
        }
td.total
        {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #CCCCCC;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:0px;
        }
th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime

        {
        cursor:pointer;
        background: #DBDBDB;
        padding: 8px 12px 4px 16px;
        }
th.forwardSort
        {
        background:#EBEBEB 0 0;
        }
th.reverseSort
        {
        background:#EBEBEB 0 0;
        }
table thead th.forwardSort a,
table thead th.reverseSort a
        {
        color:#000000;
        text-decoration:none;
        }
/*
These styles should be added when very long tables are expected
th.sort-active
        {
        background:#F2F2F2 0 0;
        cursor:wait;
        }
th.sort-active a
        {
        color:#F2F2F2 !important;
        cursor:wait;
        }
*/
td {
   font: normal 11px Verdana, Arial, Helvetica, sans-serif;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
   padding: 6px 12px 6px 12px;
   color: #4f6b72;
}

td.lft {
	text-align:left;
}

tr.alt {
	background: #F2F2F2;
	color: #4f6b72;
}
