/* Basics
-------------------------------------------*/

body {
 background: url(../images/bg_global.jpg) repeat;
 font: 12px/18px Verdana, Helvetica, sans-serif;
}

a {
 color: #005FA5;
 text-decoration: none;
}

a:hover {
 color: #000000;
}

a:visited {
 color: #29004A;
}

h1 {
 text-align: center;
 font: bold 20px Verdana, Arial, sans-serif;
}

h2 {
 text-align: left;
 font: bold 14px Verdana, Arial, sans-serif;
}

h3 {
 text-align: center;
 font: bold 12px Verdana, Arial, sans-serif;
 margin: 5px 0 0 0;
}

p {
 text-align: left;
 margin: 8px 0 17px 0;
}

.strike {
	text-decoration: line-through;
}

/* Design
-------------------------------------------*/

.branding {
 width: 524px;
 height: 70px;
 margin: 0 auto;
 background: url(../images/logo_bar.gif) no-repeat bottom;
}

.branding a:link, 
.branding a:visited, 
.branding a:active {
 display: block;
 padding-top: 20px;
 width: 524px;
 height: 45px;
 text-indent: -9999px;
 outline: none;
}

.pageBg {
 width: 616px;
 background: #fff;
 margin: 0 auto;
 border: 1px solid #ddd;
}

.mainContent {
 width: 528px;
 padding: 10px 44px 0 44px;
}

.subnav {
 font: bold 12px Verdana, Arial, sans-serif;
 text-align: left;
 padding: 10px 44px 25px 44px;
}

.blogsmall {
 font: 10px Verdana, Arial, sans-serif;
 text-align: left;
 padding: 10px 44px 25px 44px;
}
.subnavblog {
 font: bold 12px Verdana, Arial, sans-serif;
 text-align: center;
 padding: 10px 44px 25px 44px;
}

.center {
 text-align: center;
}


table.stats {
 width: 425px;
 margin: 10px auto 10px;
 background: transparent;
 text-align: left;
 font: 12px Verdana, Arial, sans-serif;
}

table.stats td {
 height: 14px;
 text-align: left;
}


/* Images
-------------------------------------------*/

.engine {
 border: 0;
 margin-right: 25px;
 margin-left: 25px; 
}