body {
  background-color: black;
  color: white;
  text-align: center;
}

.logo {
  font-size: 4.5em;
  margin-top: 2em;
}

.phone {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.makes a {
  margin-left: 1em;
  margin-right: 1em;
}

.makes img {
  width: 120px;
  height: 120px;
}


